<div>

    <h2>Sign up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignup()">

        <label>Email address</label>
        <input type="email" placeholder="Enter email address" formControlName="email" />

        <label>Password</label>
        <input type="password" placeholder="Enter password" formControlName="password" />

        <button type="submit">Sign up</button>

    </form>



    <h2>Sign In</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignin()">

        <label>Email address</label>
        <input type="email" placeholder="Enter email address" formControlName="email" />

        <label>Password</label>
        <input type="password" placeholder="Enter password" formControlName="password" />

        <button type="submit">Sign In</button>

    </form>


</div>